<tr>
  <td><%= upstream.pattern %></td>
  <td><%= Upstream::TARGETS.key(upstream.target) %></td>
  <td>
    <%= form_tag upstream_path(Base64.encode64(upstream.pattern)), method: :delete,
                 data: { confirm: "Are you sure you want to remove #{upstream.pattern}?" } do %>
        <button>remove</button>
    <% end %>
  </td>
</tr>