<h2>Upstreams</h2>
<div>
    <%= form_tag upstreams_path, id: 'add_upstream_form' do %>
    <input class="path" name="path" placeholder="URL Pattern" />
      <select id="new_target" class="target" name="target" data-placeholder="Choose a target">
        <% Upstream::TARGETS.each do |name, constant| %>
            <option value="<%= constant %>"><%= name %></option>
        <% end %>
      </select>
      <button>Add Upstream</button>
    <% end %>
</div>
<div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>URL Pattern</th>
          <th>Target</th>
        </tr>
      </thead>
      <tbody>
        <%= render @upstreams %>
      </tbody>
    </table>
</div>