<h2>Apps</h2>
<div>
  <%= form_tag apps_path do %>
      <input name="name" placeholder="App name" />
      <button>Add App</button>
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <% @apps.each do |app| %>
      <%= render 'app', :app => app %>
    <% end %>
  </table>
</div>

<% content_for :onready do %>
  $("select.dependencies").chosen({no_results_text: "No dependencies matched"});

  $("select, input.maintenance").change(function() {
    $(this).closest("form").submit();
  });
<% end %>
