<tr>
  <td><%= redirect.domain %></td>
  <td><%= redirect.to %></td>
  <td>
    <%= form_tag redirect_path(Base64.encode64(redirect.domain)), method: :delete,
                 data: { confirm: "Are you sure you want to remove #{redirect.domain}?" } do %>
        <button>remove</button>
    <% end %>
  </td>
</tr>


