<h2>Vanity Redirects</h2>
<div>
  <%= form_tag vanities_path, id: 'add_vanity_form' do %>
      <input class="path" name="path" placeholder="from path" />
      <input class="target" name="target" placeholder="target path" />
      <button>Add Vanity</button>
  <% end %>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Path</th>
        <th>Target</th>
      </tr>
    </thead>
    <tbody>
      <%= render @vanities %>
    </tbody>
  </table>
</div>